@charset "UTF-8";

.title{
	text-align: center;	
	font-size: 30px;
	font-weight: bold;
}

.joinTable{
	height: 400px;
	width: 300px;
	border: 1px solid black;
	border-collapse: collapse;
	vertical-align: middle;
}

tr, td{
	border: 1px solid black;
	border-collapse: collapse;
}

#memberAddrNum{
	width: 40px;
}
